:root {
  --dark: rgb(22, 21, 18);
  --off-white: rgb(255, 250, 237); /* close to white: rgb(255, 250, 237) */
  --side-panel: rgb(239, 224, 199); /* light pink: rgba(255, 223, 206, 0.518) */
  --textarea-color: rgba(255, 252, 250, 0.518);
  --textarea-border: rgb(184, 167, 139);
  --text-color: rgb(76, 25, 0);
}

body {
  padding: 0;
  margin: 0;
}

.App {
  background-color: var(--off-white);
  margin: 0;
  padding: 40px 40px 0 40px !important;
}
* {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  color: var(--text-color);
}
/* disable button default behavior */
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}

chess-board {
  width: 600px;
}

.App {
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 20px;
}

.sidebar {
  width: 300px;
  height: 600px;
  background-color: var(--side-panel);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px 0;
  gap: 10px;
  position: relative;
}

textarea {
  width: 80%;
  height: 380px;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--textarea-color);
  resize: none;
}

/* disable textarea default behavior */
textarea:focus {
  outline: none;
  border: 2px solid #aaa;
  box-sizing: border-box;
}

.info-bar, .hint {
  padding: 10px;
  margin: 0;
  width: 80%;
  border-radius: 4px;
}

.info-bar {
  background-color: rgb(181, 136, 99); /* rgb(181, 136, 99) dark rgb(240, 217, 181) light */
  color: var(--text-color);
}

.hint {
  background-color: rgb(240, 217, 181) ;
  border:1px solid rgb(184, 167, 139);
  padding: 8px !important; /* the lack of text makes it seem bigger -- optical illusion */
}

.regularText::after {
  content: 'Find the best move!';
}

.displayWrongMove {
  background-color: rgb(255, 133, 85);
  color: rgb(99, 25, 0);
}

.displayWrongMove::after {
  content: 'Try again!';
}

.roundComplete {
  background-color: rgb(57, 201, 0);
  color: rgb(15, 61, 0);
  opacity: 1;
}

.roundComplete::after {
  content: 'You finished all lines!';
}

.gameOver {
  opacity: 0.4;
}


/* play as black / white section */

.color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0 0 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  display: inline;
}

.label-white, .label-black {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
}

.label-white {
  background-color: rgb(240, 217, 181);
}
.label-black {
  background-color: rgb(181, 136, 99);
}

.label-white:has(> input[type="radio"]:checked) { /* :has not supported on Firefox (only) */
  border: 2px solid rgb(130, 118, 98);
}
.label-black:has(> input[type="radio"]:checked) { /* :has not supported on Firefox (only) */
  border: 2px solid rgb(86, 65, 47);
}

/* .label-white:not(:has(> input[type="radio"]:checked)) {
  opacity: 0.8;
}
.label-black:not(:has(> input[type="radio"]:checked)) {
  opacity: 0.4;
} */

button.skipMoves {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  font-size: 14px;
}

.toggle-icon {
  font-size: 20px !important;
  padding: 0px 0 0 0;
}

.progress-bar {
  width: 80%;
  height: 10px;
  border-radius: 4px;
  border: 1px solid rgb(184, 167, 139);
  /*margin: 10px 0 0 0;
  padding: 0 10px;
  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
}

.progress {
  height: 100%;
  border-radius: 2px;
  background-color: rgb(181, 136, 99);
  transition: width 1s ease-in-out;
}